<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.webApp.mapper.fiveDucks.ComicBookMapper">

    <select id="getComicBookTotalCnt" resultType="int">
        <![CDATA[
        /* 전체 만화책 개수 조회 쿼리 */
        ]]>
        select count(*)
        from web_app_test2.tb_comic_book
    </select>

    <delete id="deleteAll">
        <![CDATA[
        /* 디비에 쌓여있는 전체 만화책 삭제 쿼리 */
        ]]>
        delete from web_app_test2.tb_comic_book
    </delete>

    <select id="selectAllComicBookList"
            resultType="com.dev.webApp.domain.fiveDuck.vo.ComicBookVO">
        <![CDATA[
        /* 전체 만화책 리스트 조회 쿼리 */
        ]]>
        select r_book_no as comicBookNo
             , m_n_no as madeNatureNo
             , title as comicBookTitle
             , author as comicBookAuthor
             , use_yn as comicBookUseYnEnum
             , left(replace(book_reg_dt, '. ', '-') ,length(replace(book_reg_dt, '. ', '-')) - 1) as comicBookRegDt
             , left(replace(reg_dt, '. ', '-') ,length(replace(reg_dt, '. ', '-')) - 1) as regDt
        from web_app_test2.tb_comic_book
        order by str_to_date(comicBookRegDt, '%Y-%m-%d') desc
    </select>

    <select id="selectComicBookList"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.SelectComicBookPaginationRequestDTO"
            resultType="com.dev.webApp.domain.fiveDuck.vo.ComicBookVO">
        <![CDATA[
        /* 전체 만화책 리스트 조회 쿼리(pagination) */
        ]]>
        select r_book_no as comicBookNo
             , m_n_no as madeNatureNo
             , title as comicBookTitle
             , author as comicBookAuthor
             , use_yn as comicBookUseYnEnum
             , left(replace(book_reg_dt, '. ', '-') ,length(replace(book_reg_dt, '. ', '-')) - 1) as comicBookRegDt
             , left(replace(reg_dt, '. ', '-') ,length(replace(reg_dt, '. ', '-')) - 1) as regDt
        from web_app_test2.tb_comic_book
        order by str_to_date(comicBookRegDt, '%Y-%m-%d') desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectComicBookInfo"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.SelectComicBookInfoRequestDTO"
            resultType="com.dev.webApp.domain.fiveDuck.vo.ComicBookVO">
        <![CDATA[
        /* 단일 만화책 조회 쿼리 */
        ]]>
        select r_book_no as comicBookNo
             , m_n_no as madeNatureNo
             , title as comicBookTitle
             , author as comicBookAuthor
             , use_yn as comicBookUseYnEnum
             , left(replace(book_reg_dt, '. ', '-') ,length(replace(book_reg_dt, '. ', '-')) - 1) as comicBookRegDt
             , left(replace(reg_dt, '. ', '-') ,length(replace(reg_dt, '. ', '-')) - 1) as regDt
        from web_app_test2.tb_comic_book
        where r_book_no = #{bookNo}
    </select>

    <insert id="insertComicBookInfo"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.InsertComicBookInfoRequestDTO">
        <![CDATA[
        /* 만화책 정보 삽입 쿼리 */
        insert into web_app_test2.tb_comic_book(m_n_no, title, author, book_reg_dt)
        value (#{madeNatureNo}, #{title}, #{author}, #{comicBookRegDt})
        ]]>
        <selectKey
                keyProperty="insertedComicBookNo"
                order="AFTER"
                resultType="Integer">
            /* 만화책 정보 삽입 쿼리 */
            select max(r_book_no)
            from web_app_test2.tb_comic_book
        </selectKey>
    </insert>

    <update id="updateComicBookInfo"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.UpdateComicBookInfoRequestDTO">
        <![CDATA[
        /* 단일 만화책 정보 수정 쿼리 */
        update web_app_test2.tb_comic_book
        set m_n_no = #{madeNatureNo},
            title = #{title},
            author = #{author},
            book_reg_dt = #{comicBookRegDt}
        where r_book_no = #{bookNo};
        ]]>
    </update>

    <update id="updateComicBookState"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.UpdateComicBookStateRequestDTO">
        <![CDATA[
        /* 단일 만화책 상태 수정 쿼리 */
        update web_app_test2.tb_comic_book
        set use_yn = #{comicBookUseYnEnum}
        where r_book_no = #{bookNo}
        ]]>
    </update>

    <delete id="deleteComicBookInfo"
            parameterType="Integer">
        <![CDATA[
        /* 단일 만화책 삭제 쿼리 */
        delete from web_app_test2.tb_comic_book
        where r_book_no = #{bookNo}
        ]]>
    </delete>
</mapper>
