<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.webApp.mapper.fiveDucks.ContentsMadeNatureMapper">

    <select id="getContentsTotalCnt" resultType="int">
        <![CDATA[
        /* 전체 컨텐츠 개수 조회 쿼리 */
        ]]>
        select count(*)
        from web_app_test2.tb_contents_made_nature
    </select>

    <delete id="deleteAll">
        <![CDATA[
        /* 디비에 쌓여있는 전체 컨텐츠 삭제 쿼리 */
        ]]>
        delete from web_app_test2.tb_contents_made_nature
    </delete>

    <select id="selectAllContentsList"
            resultType="com.dev.webApp.domain.fiveDuck.vo.ContentsVO">
        <![CDATA[
        /* 전체 컨텐츠 리스트 조회 쿼리 */
        ]]>
        select m_n_no as madeNatureNo
            , english_name as englishName
            , korean_name as koreanName
            , use_yn as contentsMadeNatureUseYnEnum
            , left(replace(reg_dt, '. ', '-') ,length(replace(reg_dt, '. ', '-')) - 1) as regDt
        from web_app_test2.tb_contents_made_nature
        order by str_to_date(regDt, '%Y-%m-%d') desc
    </select>

    <select id="selectContentsList"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.SelectContentsPaginationRequestDTO"
            resultType="com.dev.webApp.domain.fiveDuck.vo.ContentsVO">
        <![CDATA[
        /* 전체 컨텐츠 리스트 조회 쿼리(pagination) */
        ]]>
        select m_n_no as madeNatureNo
             , english_name as englishName
             , korean_name as koreanName
             , use_yn as contentsMadeNatureUseYnEnum
             , left(replace(reg_dt, '. ', '-') ,length(replace(reg_dt, '. ', '-')) - 1) as regDt
        from web_app_test2.tb_contents_made_nature
        order by str_to_date(regDt, '%Y-%m-%d') desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectContents"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.SelectContentsInfoRequestDTO"
            resultType="com.dev.webApp.domain.fiveDuck.vo.ContentsVO">
        <![CDATA[
        /* 단일 컨텐츠 조회 쿼리 */
        ]]>
        select m_n_no as madeNatureNo
             , english_name as englishName
             , korean_name as koreanName
             , use_yn as contentsMadeNatureUseYnEnum
             , left(replace(reg_dt, '. ', '-') ,length(replace(reg_dt, '. ', '-')) - 1) as regDt
        from web_app_test2.tb_contents_made_nature
        where m_n_no = #{contentsNo}
    </select>

    <insert id="insertContentsInfo"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.InsertContentsInfoRequestDTO">
        <![CDATA[
        /* 컨텐츠 정보 삽입 쿼리 */
        insert into web_app_test2.tb_contents_made_nature(english_name, korean_name)
        value (#{englishName}, #{koreanName})
        ]]>
        <selectKey
                keyProperty="insertedContentsNo"
                order="AFTER"
                resultType="Integer">
            /* 컨텐츠 정보 삽입 쿼리 */
            select max(m_n_no)
            from web_app_test2.tb_contents_made_nature
        </selectKey>
    </insert>

    <update id="updateContentsInfo"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.UpdateContentsInfoRequestDTO">
        <![CDATA[
        /* 단일 컨텐츠 정보 수정 쿼리 */
        update web_app_test2.tb_contents_made_nature
        set english_name = #{englishName},
            korean_name = #{koreanName}
        where m_n_no = #{contentsNo};
        ]]>
    </update>

    <update id="updateContentsState"
            parameterType="com.dev.webApp.domain.fiveDuck.dto.request.UpdateContentsStateRequestDTO">
        <![CDATA[
        /* 단일 컨텐츠 상태 수정 쿼리 */
        update web_app_test2.tb_contents_made_nature
        set use_yn = #{contentsMadeNatureUseYnEnum}
        where m_n_no = #{contentsNo}
        ]]>
    </update>

    <delete id="deleteContentsInfo"
            parameterType="Integer">
        <![CDATA[
        /* 단일 컨텐츠 삭제 쿼리 */
        delete from web_app_test2.tb_contents_made_nature
        where m_n_no = #{contentsNo}
        ]]>
    </delete>
</mapper>
