/* For root value */
:root {
    --root-font: 'SDSamliphopangcheTTFOutline';
    --part-font: 'establishRetrosansOTF';
    --login-background-color: #D9D9D9;
    --login-section-background-color: #FFFFFF;
    --input-width: 120px;
    --input-height: 21px;
    /* color */
    --main-yellow-color: #FFBE40;
    --main-gray-color: #979494;
    --main-gray-color2: #D9D9D9;
    --main-black-color: #000000;
    --main-red-color: red;
    --main-white-color: #FFFFFF;
}

/* For desktop View */
body {
    zoom: 115%;
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    body {
        zoom: 100%;
    }
}

/* For custom class */
#ptcfd-border {
    width: auto;
    border-bottom: 1px solid var(--main-black-color);
}


.ptcfd-block-drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ptcfd-block-drag-with-out-text {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text
}

.ptcfd-main-input {
    border: none;
    border-bottom: 1px solid var(--main-black-color);
}

.ptcfd-part-input {
    border: none;
    border-bottom: 1px solid var(--main-black-color);
    /* 추후 확장성을 위해 만들었습니다 */
}

.pdcfd-required-symbol {
    color: var(--main-red-color);
}

.ptcfd-body {
    /*  추후 배경을 투명바둑으로 도배하고싶을때 ... */
    /*background-image: url("../images/transparency-pattern.jpg");*/
    height: 100%;
}

.ptcfd-body__inner {
    background-color: #FFFFFF;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    width: 704px;
    padding-top: 25px;
    padding-bottom: 400px;
}

.ptcfd-default-thumbnail {
    width: 704px;
    height: 235px;
    margin-bottom: 25px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ptcfd-default-thumbnail > div > p:first-child{
    text-align: center;
    margin-bottom:5px;
}
