.custom-body {
    /*  추후 배경을 투명바둑으로 도배하고싶을때 ... */
    /*background-image: url("../images/transparency-pattern.jpg");*/
}

.image-box {
    text-align: center;
    background-color: #202124;
}

.image-box > .evangalion {
    width: 400px;
    height: 300px;
    padding-top: 50px;
}

.image-box > .goku {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 100px;
    width: 130px;
    height: 200px;
}

.image-box > .zoro {
    width: 270px;
    height: 270px;
}

.image-box > .vmon {
    width: 130px;
    height: 150px;
}

.image-box > .kiu {
    width: 250px;
    height: 300px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.image-box > .itachi {
    width: 200px;
    height: 250px;
}

.image-box > .bashu {
    margin-left: -30px;
    width: 400px;
    height: 300px;
}

/* 이미지 박스 아래 body inner 시작 */
.body__inner {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.body__inner > .wrap-hot-anime-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
}

.body__inner > .wrap-hot-anime-list > .wrap-hot-anime-list__inner {
    width: 724px;
    height: 100%;
}

/* 인기 만화 리스트 시작 */
.hot-anime-list {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.hot-anime-list > .title {
    margin-top: 35px;
    margin-bottom: 14px;
}

.hot-anime-list > .title > .main-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600 !important;
    text-align: center;
    cursor: default;
}

.hot-anime-list > .title > .sub-title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: black;
    cursor: default;
}

.anime-thumbnail-list {
    width: 704px;
    max-width: 704px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.anime-thumbnail-list > .thumbnail-box {
    background-color: #D9D9D9;
    width: 210px;
    height: 150px;
    margin-right: 37px;
    margin-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.5;
}

.anime-thumbnail-list > .thumbnail-box:hover {
    opacity: 1;
}

/* 세번째 선택자에 해당하는 자식 요소에게만 margin-right를 0으로 설정합니다. */
.anime-thumbnail-list > .thumbnail-box:nth-child(3n) {
    margin-right: 0;
}

.anime-thumbnail-list > .thumbnail-box > .thumbnail-box__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 210px 150px;
    border-radius: 30px;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.thumbnail > p {
    color: #202124;
    font-weight: 200 !important;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
}

.thumbnail > p:last-child {
    margin-bottom: 0;
}

/* 애니 더 보기 버튼 */
.wrap-more-anime-button {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.see-more-anime-button {
    width: 162px;
    height: 30px;
    border: 1px solid #6F6D6D;
    border-radius: 15px;
    color: #6F6D6D;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.see-more-anime-button:hover {
    color: white;
    background-color: #6F6D6D;
}

/* 각종(책)모음 보기 시작 */
.body__inner > .wrap-some-book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.body__inner > .wrap-some-book-list > .wrap-some-book-list__inner {
    width: 724px;
    height: 100%;
}

.some-book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.some-book-list > .title {
    text-align: center;
    margin-bottom: 14px;
}

.some-book-list > .title > .main-title {
    margin-top: 35px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600 !important;
    cursor: default;
}

.some-book-list > .title > .sub-title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #A4A2A2;
    cursor: default;
}

.some-book-list__inner {
    width: 704px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 책 아이콘 */
.book-icon {
    width: 53px;
    height: 55px;
}

/* 책 아이템 */
.book-item {
    display: flex;
    flex-direction: row;
    width: 161px;
    height: 59px;
    margin-right: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.book-item:hover {
    background-color: #f2f3f4;
}

.book-item:nth-child(4n) {
    margin-right: 0;
}

/* 책 아이템 왼쪽 섹션 */
.book-item > .book-item__left {

}

/* 책 아이템 오른쪽 섹션 */
.book-item > .book-item__right {
    display: flex;
    flex-direction: column;
}

#book-title {
    width: 100px;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600 !important;
    text-align: right;
}

#book-type {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 13px;
    font-weight: 600 !important;
    text-align: right;
}

.book-type_script {
    color: #FF0000;
}

.book-type_study-summary {
    color: #04CF00;
}

.book-type_book-summary {
    color: #0500FF;
}

.book-type_book-pdf {
    color: #FFF500;
}

.book-type_lecture_summary {
    color: #7CA800;
}

.book-type_novel {
    color: #CF0095;
}

.book-type_default {
    color: black;
}

#book-reg-dt {
    font-weight: 200 !important;
    text-align: right;
}

/* 책 더보기 */
.wrap-more-book-button {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.see-more-book-button {
    width: 162px;
    height: 30px;
    border: 1px solid #6F6D6D;
    border-radius: 15px;
    color: #6F6D6D;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.see-more-book-button:hover {
    color: white;
    background-color: #6F6D6D;
}

/* 내가 찾던 바로 그 만화책 */
.body__inner > .wrap-comic-book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
}

.body__inner > .wrap-comic-book-list > .wrap-comic-book-list__inner {
    width: 724px;
    height: 100%;
}

.comic-book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.comic-book-list > .title {
    text-align: center;
    margin-bottom: 36px;
}

.comic-book-list > .title > .main-title {
    margin-top: 35px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600 !important;
    cursor: default;
}

.comic-book-list > .title > .sub-title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: black;
    cursor: default;
}

.comic-book-list > .comic-book-cover {
    width: 550px;
    height: 183px;
    border-radius: 50px;
    box-shadow: 4.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    background-color: white;
    margin-bottom: 20px;
}

.comic-book-list > .comic-book-cover > .comic-book-cover__inner {
    padding: 14px 30px 30px 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.comic-book-list > .comic-book-cover > .comic-book-cover__inner > .comic-book-cover__inner__default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    cursor: default;
    width: 100%;
}

/* 만화책의 섹션 */
.comic-book-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 181px;
    height: 139px;
}

.comic-book-section > .gen-title {
    color: black;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    /*font-weight: 600 !important;*/
}

.comic-book-section > .gen-title:hover {
    cursor: default;
}

.comic-book-section > .wrap-thumbnail-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.comic-book-section > .wrap-thumbnail-item:hover {
    background-color: #6F6D6D;
    color: white;
    border-radius: 15px;
}

.thumbnail__default {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.introduce > .introduce__inner {
    width: 131px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduce > .introduce__inner > .title {
    font-size: 17px;
    line-height: 21px;
    font-weight: 600 !important;
}

.introduce > .introduce__inner > .author {
    font-size: 10px;
    line-height: 12px;
}

/* 만화책 더보기 */
.wrap-more-comic-book-button {
    margin-bottom: 100px;
}

.see-more-comic-book-button {
    width: 162px;
    height: 30px;
    border: 1px solid #6F6D6D;
    border-radius: 15px;
    color: #6F6D6D;
    background-color: white;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.see-more-comic-book-button:hover {
    color: white;
    background-color: #6F6D6D;
}


/* 베스트 영화, 드라마 시작 */

/* 내가 찾던 바로 그 만화책 */
.body__inner > .wrap-drama-and-movie-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__inner > .wrap-drama-and-movie-list > .wrap-drama-and-movie-list__inner {
    width: 724px;
    height: 100%;
}

.drama-and-movie-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.drama-and-movie-list > .title {
    text-align: center;
    margin-bottom: 35px;
}

.drama-and-movie-list > .title > .main-title {
    margin-top: 35px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600 !important;
    cursor: default;
}

.drama-and-movie-list > .title > .sub-title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #A4A2A2;
    cursor: default;
}

.drama-and-movie-list__inner {
    width: 489px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.drama-and-movie-list__inner  > .drama-and-movie-list__inner__default {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.dam-item {
    width: 119px;
    height: 110px;
    margin-right: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dam-item:nth-child(3n) {
    margin-right: 0;
}

.dam-item > .thumbnail {
    display: block;
    width: 75px;
    height: 75px;
    margin-bottom: 9px;
    border: 3px solid blue;
    border-radius: 100px;
    transition: 0.4s;
}

.dam-item > .thumbnail:hover {
    width: 65px;
    height: 65px;
}

.dam-item:nth-child(2n) > .thumbnail {
    border: 3px solid green;
}

.dam-item > .title {
    font-size: 17px;
    font-weight: 600 !important;
}

.wrap-dam-buttons {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.wrap-dam-buttons > .dam-button {
    width: 162px;
    height: 30px;
    border: 1px solid #6F6D6D;
    border-radius: 15px;
    color: #6F6D6D;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.wrap-dam-buttons > .dam-button:hover {
    color: white;
    background-color: #6F6D6D;
}

.dam-button:first-child {
    margin-right: 40px;
}
