.custom-body {
  /* overflow: hidden;
  position: relative; */
  background-image: url("../images/transparency-pattern.jpg");
}


.body__inner{
  width: 800px;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* opacity: 0.7;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: auto;
  background-image: url("./images/moroccan-white-flower.png"); */
}

/* 인기 만화 리스트 시작 */
.famous-writing-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.famous-writing-list > .famous-writing-list__inner {
  /*  */
}

.famous-writing-list > .famous-writing-list__inner > .title {
  /*  */
}

.famous-writing-list > .famous-writing-list__inner > .title > #title-content{
  font-size: 18px;
  text-align: left;
  /* border-bottom: 1px solid black; */
  padding-left: 5px;
  padding-bottom: 7px;
}

/* 일반 만화 리스트 시작 */
.comic-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comic-list > .comic-list__inner {
  /*  */
}

.comic-list > .comic-list__inner > .title {
  /*  */
}

.comic-list > .comic-list__inner > .title > #title-content{
  font-size: 18px;
  text-align: left;
  /* border-bottom: 1px solid black; */
  padding-left: 5px;
  padding-bottom: 7px;
}

.anime-box {
  flex-grow: 1;
}

.game-box {
  flex-grow: 1;
}

.util-box {
  flex-grow: 1;
}

/* 유틸 리스트 시작 */
.etc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.etc-list > .etc-list__inner {
  /*  */
  display: flex;
  flex-direction: row;
}

.anime-list > .anime-list__inner > .title > #title-content{
  font-size: 13px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 7px;
}

.game-list > .game-list__inner > .title > #title-content{
  font-size: 13px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 7px;
}

.util-list > .util-list__inner > .title > #title-content{
  font-size: 13px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 7px;
}

.image-box {
  text-align: center;
}

.misato {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
  height: 200px;
}

p#title-content {
}

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 180px;
}

.footer > .footer__inner {
  width: 800px;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:0 auto;
}

.footer > .footer__inner > .announce {
}
