
.menu-bar {
    width: auto;
    height: 72px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-bar > .menu-bar__inner {
    height: 55px;
    width: 724px;
    max-width: 924px;
    padding-top: 17px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

/* 로고 시작 */
.menu-bar > .menu-bar__inner > .wrap-logo {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.wrap-logo__inner {
    width: 89px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-logo__inner > #logo {
    display: block;
    margin-left: 10px;
    width: 79px;
    height: 43px;
}


/* 메뉴 시작 */
.wrap-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* 보통 메뉴 시작 */
.normal-menu {
    width: 430px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-list-ul {
    display: flex;
}

.menu-list-li {
    align-items: center;
}

.menu-list-li > a {
    color: black;
}

.menu-list-li > a:hover {
    font-weight: 800 !important;
    cursor: pointer;
}

/* 인증 메뉴 시작 */
.auth-menu {
    width: 180px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-page-menu-list-ul{
    display: flex;
}


.my-page-menu-list-li {
    align-items: center;
}

.my-page-menu-list-li > a {
    color: black;
}

.my-page-menu-list-li > a:hover {
    font-weight: 800 !important;
    cursor: pointer;
}
