.font-weight-bold {
    font-weight: 900!important;
    font-size: 20px !important;
}

/**/
.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

.top > .top__left {
    width: 50%;
    cursor: default
}

.top > .top__left > .title {
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 45px;
    border-bottom: 1px solid black;
}

.top > .top__right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.item-section > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom:10px;
}

.item-section > .item:last-child {
    margin-bottom: 0;
}

.item-section > .item > .item__left{
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item > .item__right > .content {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
}

.item > .item__left > .thumbnail{
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    font-weight: 600 !important;
}

.item-section > .item > .item__right{
}

.item > .item__right > p {
    font-weight: 600 !important;
}

.item > .item__right > input {
}

.item > .item__left > .title {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    font-weight: 600 !important;
}

.item > .item__right > .title-input {
    margin-right: 10px;
}

.item > .item__right > .author-input {
    width: 120px;
}

.item > .item__right > ul > li >.book-type-text{
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    cursor: pointer;
    transition: 0.4s;
}

.item > .item__right > ul > li >.book-type-text:hover{
    font-weight: 900!important;
}


.item > .item__right > .book-reg-dt {
    width: 88px;
}

.item > .item__right > ul > li > .made-nature-no-text {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    cursor: pointer;
    transition: 0.4s;
}

.item > .item__right > ul > li > .made-nature-no-text:hover {
    font-weight: 900!important;
}

.item > .item__right > .import-link {
    width: 300px;
}

/* 썸네일 프리뷰 리스트 */
.modifier-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 59px;
}

.modifier-bottom > .modifier-bottom__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.modifier-bottom > .modifier-bottom__inner > .modifier-bottom__inner__left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.modifier-bottom__inner__left > .delete-text {
    font-size: 25px;
    line-height: 30px;
    transition: 0.4s;
}

.modifier-bottom__inner__left > .delete-text:hover {
    font-size: 27px;
    line-height: 33px;
    font-weight: 900 !important;
    color: #FF0000;
    cursor: pointer;
}


.modifier-bottom > .modifier-bottom__inner > .modifier-bottom__inner__right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}


.modifier-bottom__inner__right > .modify-text {
    font-size: 25px;
    line-height: 30px;
    transition: 0.4s;
}

.modifier-bottom__inner__right > .modify-text:hover {
    font-size: 27px;
    line-height: 33px;
    font-weight: 900 !important;
    color: #E0CA00;
    cursor: pointer;
}
