.font-weight-bold {
    font-weight: 900!important;
    font-size: 20px !important;
}

.font-weight-regular {
    font-weight: 600!important;
    font-size: 17px !important;
}

/**/
.body__inner {
    width: 704px;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

.top > .top__left {
    width: 50%;
    cursor: default
}

.top > .top__left > .title {
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 45px;
    border-bottom: 1px solid black;
}

.top > .top__right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.item-section > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom:10px;
}

.item-section > .item:last-child {
    margin-bottom: 0;
}

.item-section > .item > .item__left{
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item > .item__right > .content {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
}

.item > .item__left > .thumbnail{
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    font-weight: 600 !important;
}

.item-section > .item > .item__right{
}

.item > .item__right > p {
    font-weight: 600 !important;
}

.item > .item__left > .title {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    font-weight: 600 !important;
}

.item > .item__right > .title-input {
    margin-right: 10px;
}

.item > .item__right > .author-input {
    width: 120px;
}


.item > .item__right > ul > li >.book-type-text {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    cursor: pointer;
    transition: 0.4s;
}

.item > .item__right > ul > li >.book-type-text:hover{
    font-weight: 900!important;
}

.item > .item__right > .book-reg-dt {
    width: 88px;
}

.item > .item__right > ul > li > .made-nature-no-text {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.2px !important;
    cursor: pointer;
    transition: 0.4s;
}

.item > .item__right > ul > li > .made-nature-no-text:hover {
    font-weight: 900!important;
}

.item > .item__right > .import-link {
    width: 300px;
}

.register-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 59px;
}

.register-bottom > .register-bottom__inner {
}

.register-bottom > .register-bottom__inner > .register-text {
    font-size: 25px;
    line-height: 30px;
    transition: 0.4s;
}

.register-bottom > .register-bottom__inner > .register-text:hover {
    font-size: 27px;
    line-height: 33px;
    font-weight: 900!important;
    color: #2400FF;
    cursor: pointer;
}

/* 썸네일 프리뷰 리스트 */
.thumbnail-preview-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.2s;
}


.thumbnail-preview-list > .thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
